[[Python] Keras-RLで簡単に強化学習(DQN)を試す](http://qiita.com/inoory/items/e63ade6f21766c7c2393)を参考に、エージェントを作成する。FXの自動取引を行い、利益を出すのが目標。

In [ ]:
import matplotlib as mpl
mpl.use('tkagg')
import numpy as np
import pandas as pd
import talib
from logging import getLogger, DEBUG, INFO, WARN
import os

from hist_data import HistData
from fx_trade import FXTrade
from deep_fx import DeepFX
from debug_tools import DebugTools

Using TensorFlow backend.

In [ ]:
IS_SEND_LOG_TO_STACKDRIVER = True
if IS_SEND_LOG_TO_STACKDRIVER:
    import logging
    import google.cloud.logging
    from google.cloud.logging.handlers import CloudLoggingHandler
    jupyter_logger = logging.getLogger()
    jupyter_logger.setLevel(logging.WARN)
    client = google.cloud.logging.Client \
        .from_service_account_json(os.environ.get('GOOGLE_SERVICE_ACCOUNT_JSON_PATH'))
    client.setup_logging(log_level=logging.INFO)
    handler = CloudLoggingHandler(client, name='deepfx')
    logger = logging.getLogger()
else:
    from logging import StreamHandler
    logger = getLogger(__name__)
    handler = StreamHandler()
    logger.setLevel(INFO)
logger.addHandler(handler)
logger.info('DeepFX Started: %s' % DebugTools.now_str())

DeepFX Started: 17/11/06 00:38:09

In [ ]:
#import imp
#import sys
#del(hist_data)
#from hist_data import HistData
#del(hist_data)
#imp.reload(hist_data)
#imp.reload(sys.modules[hist_data.__module__])
hd = HistData(csv_path = 'historical_data/DAT_ASCII_USDJPY_M1_201710_m5.csv',
                     begin_date='2017-10-02T00:00:00',
                     end_date='2017-10-02T23:59:59')
                     #end_date='2017-10-09T23:59:59')

header is included

In [ ]:
hd.data()
#len(hist_data.data())

                        Open     High      Low    Close  Volume
Date
2017-10-02 00:00:00  112.808  112.833  112.805  112.833       0
2017-10-02 00:05:00  112.833  112.834  112.784  112.793       0
2017-10-02 00:10:00  112.793  112.821  112.788  112.812       0
2017-10-02 00:15:00  112.812  112.812  112.790  112.794       0
2017-10-02 00:20:00  112.801  112.805  112.787  112.795       0
2017-10-02 00:25:00  112.795  112.832  112.794  112.826       0
2017-10-02 00:30:00  112.826  112.834  112.820  112.827       0
2017-10-02 00:35:00  112.825  112.851  112.819  112.832       0
2017-10-02 00:40:00  112.836  112.851  112.827  112.841       0
2017-10-02 00:45:00  112.840  112.851  112.826  112.826       0
2017-10-02 00:50:00  112.825  112.836  112.810  112.815       0
2017-10-02 00:55:00  112.815  112.821  112.807  112.817       0
2017-10-02 01:00:00  112.821  112.841  112.819  112.837       0
2017-10-02 01:05:00  112.838  112.842  112.815  112.840       0
2017-10-02 01:10:00  112.841  112.852  112.838  112.844       0
2017-10-02 01:15:00  112.843  112.858  112.841  112.851       0
2017-10-02 01:20:00  112.851  112.901  112.850  112.900       0
2017-10-02 01:25:00  112.902  112.921  112.884  112.906       0
2017-10-02 01:30:00  112.907  112.914  112.897  112.909       0
2017-10-02 01:35:00  112.910  112.910  112.887  112.887       0
2017-10-02 01:40:00  112.886  112.906  112.886  112.888       0
2017-10-02 01:45:00  112.889  112.902  112.872  112.889       0
2017-10-02 01:50:00  112.889  112.889  112.862  112.869       0
2017-10-02 01:55:00  112.870  112.883  112.842  112.874       0
2017-10-02 02:00:00  112.878  112.924  112.828  112.904       0
2017-10-02 02:05:00  112.905  112.907  112.864  112.883       0
2017-10-02 02:10:00  112.881  112.888  112.835  112.851       0
2017-10-02 02:15:00  112.852  112.861  112.827  112.850       0
2017-10-02 02:20:00  112.854  112.906  112.851  112.878       0
2017-10-02 02:25:00  112.876  112.924  112.865  112.912       0
...                      ...      ...      ...      ...     ...
2017-10-02 21:30:00  112.976  112.988  112.928  112.933       0
2017-10-02 21:35:00  112.934  113.005  112.934  112.970       0
2017-10-02 21:40:00  112.969  112.978  112.950  112.961       0
2017-10-02 21:45:00  112.962  113.076  112.951  113.059       0
2017-10-02 21:50:00  113.057  113.062  113.021  113.056       0
2017-10-02 21:55:00  113.055  113.170  113.055  113.148       0
2017-10-02 22:00:00  113.147  113.147  113.118  113.142       0
2017-10-02 22:05:00  113.143  113.161  113.115  113.117       0
2017-10-02 22:10:00  113.119  113.151  113.056  113.068       0
2017-10-02 22:15:00  113.070  113.100  113.067  113.080       0
2017-10-02 22:20:00  113.082  113.095  113.075  113.086       0
2017-10-02 22:25:00  113.086  113.122  113.068  113.099       0
2017-10-02 22:30:00  113.099  113.120  113.084  113.092       0
2017-10-02 22:35:00  113.091  113.091  113.050  113.060       0
2017-10-02 22:40:00  113.061  113.066  113.050  113.058       0
2017-10-02 22:45:00  113.059  113.064  113.050  113.059       0
2017-10-02 22:50:00  113.060  113.068  113.054  113.066       0
2017-10-02 22:55:00  113.069  113.077  113.065  113.072       0
2017-10-02 23:00:00  113.073  113.082  113.056  113.072       0
2017-10-02 23:05:00  113.073  113.073  113.064  113.064       0
2017-10-02 23:10:00  113.063  113.063  113.026  113.043       0
2017-10-02 23:15:00  113.045  113.068  113.031  113.064       0
2017-10-02 23:20:00  113.065  113.084  113.064  113.071       0
2017-10-02 23:25:00  113.080  113.105  113.080  113.089       0
2017-10-02 23:30:00  113.088  113.127  113.078  113.124       0
2017-10-02 23:35:00  113.124  113.155  113.124  113.148       0
2017-10-02 23:40:00  113.147  113.147  113.111  113.135       0
2017-10-02 23:45:00  113.135  113.175  113.129  113.169       0
2017-10-02 23:50:00  113.167  113.178  113.125  113.137       0
2017-10-02 23:55:00  113.139  113.155  113.128  113.142       0

[288 rows x 5 columns]

In [ ]:
env = FXTrade(1000000, 0.08, hd, logger=logger)
#env = FXTrade(1000000, 0.08, h, logger=logger)
prepared_model_filename = None #'Keras-RL_DQN_FX_model_meanq1.440944e+06_episode00003.h5'
dfx = DeepFX(env, prepared_model_filename=prepared_model_filename, steps = 100000, logger=logger)

In [ ]:
is_to_train = True
if is_to_train:
    dfx.train(is_for_time_measurement=True)
else:
    dfx.test(1, [EpisodeLogger()])

NameError: name 'dfx' is not defined

In [ ]:
%matplotlib notebook
import matplotlib.pyplot as plt
import numpy as np
data = hd.data()['Close']
x = data.index
y = data.values
sd = 1
upper, middle, lower = talib.BBANDS(data.values, timeperiod=20, matype=talib.MA_Type.SMA, nbdevup=sd, nbdevdn=sd)
[plt.plot(x, val) for val in [y, upper, middle, lower]]

In [ ]:
data.values

In [ ]:
logger.info('DeepFX Finished: %s' % DebugTools.now_str())

## References

- [Deep Q-LearningでFXしてみた](http://recruit.gmo.jp/engineer/jisedai/blog/deep-q-learning/)
- [slide](https://www.slideshare.net/JunichiroKatsuta/deep-qlearningfx)